{% extends 'orderhelper/base.html' %}


	{% block content %}
	<h1 class="sub-header">Dashboard</h1>
	<br />
  <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2">
          

          <div class="row placeholders">
            <div class="col-sm-6 col-md-4 placeholder">
              <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
              <h4>Comanda</h4>
            <!--   <span class="text-muted">adauga comanda noua</span> -->
            </div>
            <div class="col-sm-6 col-md-4 placeholder">
              <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
              <h4>Subcomanda</h4>
             <!--  <span class="text-muted">adauga subcomanda noua</span> -->
            </div>
            <div class="col-sm-6 col-md-4 placeholder">
              <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
              <h4>Proiect</h4>
            <!--   <span class="text-muted">adauga proiect nou</span> -->
            </div>
            <div class="col-sm-6 col-md-4 placeholder">
              <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
              <h4>Furnizor</h4>
             <!--  <span class="text-muted">adauga un furnizor</span> -->
            </div>
            <div class="col-sm-6 col-md-4 placeholder">
              <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
              <h4>Producator</h4>
             <!--  <span class="text-muted">adauga un producator</span> -->
            </div>
            <div class="col-sm-6 col-md-4 placeholder">
              <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
              <h4>Reper</h4>
              <!-- <span class="text-muted">adauga reper nou</span> -->
            </div>
          </div>
          </div>
             {% endblock %}