
<div class="modal-dialog modal-lg">
    <div class="modal-content">
	    <div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		    <h3 class="modal-title"><b>{{ comanda }}</b></h3>
	    </div>
	    <div class="modal-body">
	      	
	    	<div class="row">
        		<div class="col-md-4"> <p><b>Numar unic:</b> {{ comanda.pk }}<p></div>
	        	<div class="col-md-8"><p><b>Status:</b>  <span class="btn {% if comanda.status.text == 'Deschis' %}btn-success{% endif %} {% if comanda.status.text == 'Inchis' %}btn-danger{% endif %} {% if comanda.status.text == 'Anulat' %}btn-warning{% endif %} "></span><p></div>
	        </div>	
	        		
	        <div class="row">
	        	<div class="col-md-4"><p><b>Data:</b> {{ comanda.data }}</p></div>
	        	<div class="col-md-8"><p><b>Obiect succint:</b> {{ comanda.obiect_succint}}</p></div>		
	        </div>	

	        <div class="row">
				<div class="col-md-4"><p><b>Solicitant:</b> {{ comanda.solicitant}}</p></div>
	        	<div class="col-md-8"><p><b>Telefon:</b> {{ comanda.solicitant.telefon }} </p></div>	
	        </div>

	        <div class="row">
	        	<div class="col-md-4"><p><b>Preluat:</b> {{ comanda.preluat.last_name }} </p></div>
	        	<div class="col-md-8"><p><b>Proiect:</b> {{ comanda.proiect }}</p></div>
	        </div>	

	        <div class="row">
	        	<div class="col-md-4"><p><b>Pret total:</b> {{ comanda.pret_total}}  <span class="glyphicon {% if comanda.show_valuta.text == 'EURO' %} glyphicon-euro {% else %}  {% if comanda.show_valuta.text == 'USD' %} glyphicon-usd {% else %} glyphicon-registration-mark {% endif %} {% endif %}"></span> </p></div>
	        	<div class="col-md-4"><p><b>Data primire:</b>{% if comanda.data_primire %} {{ comanda.data_primire }} {% else %} <span class="glyphicon glyphicon-remove"></span> {% endif %}</p></div>
	        </div>
	    </div>
	      
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
