{% extends 'orderhelper/base.html' %}

	{% block content %}
	<h2>{{ comanda }}</h2>
	<br /><br />

<!-- 	<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">{{ comanda }}</h3>
  </div>
  <div class="panel-body"> -->
  
   		 
   		 	
	   		 		<div class="table-responsive">
		           		<table class="table">
		              	<thead>
			                <tr>
			                  <th>Nr Crt</th>
			                  <th>Status</th>
			                  <th>Producator</th>
			                  <th>Cod reper</th>
			                  <th>Reper</th>
			                  <th>Link</th>
			                  <th>Furnizor</th>
			                  <th>Cantitate</th>
			                  <th>Data livrare</th>
			                  <th>Data primire</th>
			                  <th>Pret</th>
			                  <th>Pret Total</th>
			                  <th>Termen Plata</th>
			                  <th>Mod plata</th>
			                </tr>
		              	</thead>
		               <tbody>
		              
		               {% for subcomanda in subcomenzi %}
   		 				
			                 <tr class="{%if subcomanda.is_late %} danger {% endif %} {%if subcomanda.is_today %} warning {% endif %}">
			               
			                  <td>{{ subcomanda.numar_curent }}</td>

			                  <td>
			                  	
			                  	 {% if subcomanda.status.text == 'Deschis'  %}
			                  	 	<span class="btn btn-success"></span>
			                  	 {% endif %}

			                  	  {% if subcomanda.status.text == 'Inchis'  %}
			                  	 	<span class="btn btn-danger"></span>
			                  	 {% endif %}

			                  	  {% if subcomanda.status.text == 'Anulat'  %}
			                  	 	<span class="btn btn-warning"></span>
			                  	 {% endif %}

			                  </td>
			                  <td>{{ subcomanda.producator }}</td>
			                  <td>{{ subcomanda.reper.cod_reper }}</td>
			                  <td>{{ subcomanda.reper.reper }}</td>
			                   <td><a href="{{ subcomanda.reper.link }}" target="_blank"><span class="glyphicon glyphicon-link"></a></td>
			                  <td>{{ subcomanda.furnizor }}</td>
			                  <td>{{ subcomanda.cantitate }}</td>
			                  <td>{{ subcomanda.data_livrare }}</td>
			                  <td>{{ subcomanda.data_primire }}</td>
			                  <td>{{ subcomanda.pret }}</td>
			                  <td>{{ subcomanda.pret_total }}</td>
			                  <td>{{ subcomanda.termen_plata }}</td>
			                  <td>{{ subcomanda.mod_plata }}</td>
			                </tr>
			          
			            
			            {% endfor %}
			            </div> 
		                </tbody>
		            	</table>     	
	            	</div>
	            
	      
<!--   </div>
</div>      
   		  -->
   		 

  

    {% endblock %}
	


	
