
  {% if user.is_authenticated %}
<div class="modal-dialog modal-lg">
    <div class="modal-content">
	    	<div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		        <h3 class="modal-title"><b>Lista reper</b></h3>
	      	</div>
	      	<div class="modal-body">
	      		{% for reper in reperi %}
	      		<div class="row">
          			<div class="col-md-2"> <p><b>Cod:</b> {{ reper.cod_reper}}<p></div>
	        		<div class="col-md-9"><p><b>Reper:</b> {{ reper.reper }}</div>
	        		<div class="col-md-1"><p>{% if reper.link %}<a href="{{ reper.link }}" target="_blank"><span class="glyphicon glyphicon-link"></span></a> {% endif %}</div>
	        	</div>		      			
	      		{% endfor %}
	      	</div>
    

    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->


  {% endif %}