{% extends 'orderhelper/base.html' %}

{% block extra_js%}
<script src="http://malsup.github.com/jquery.form.js"></script>
{% endblock %}

{% block content %}


  {% if user.is_authenticated %}
	<h1 class="sub-header">Dashboard - <em> Reper </em> </h1>

	<br /> <br />
	<div class="btn-group" role="group" aria-label="...">
		<a type="button" data-toggle="modal" data-target="#modalEdit" href="{% url 'reper_new' %}" class="btn btn-primary actionAdd">Add</a>
  		<a id="edit" data-toggle="modal" data-target="#modalEdit" type="button" href="#" class="btn btn-default disabled actionEdit">Edit</a>
  		<button type="button" class="btn btn-default disabled">Delete</button>
	</div>

	<br /> <br />
	<hr class="featurette-divider">

	<div class="table-responsive">
		<table class="table">
		    <thead>
			    <tr>
			    	<th></th>
			    	<th>ID</th>
			        <th>Cod reper</th>
			        <th>Reper</th>
			        <th>Link</th>
 				</tr>
		    </thead>
		    <tbody>
		              
			{% for reper in reperi.object_list %}			
			<tr>         
				<td><input type="checkbox" url="{% url 'reper_edit' pk=reper.pk %}"  aria-label="select"></td>  
			    <td>{{ reper.pk }}</td>
				<td>{{ reper.cod_reper }}</td>
				<td>{{ reper.reper }}</td>
				 <td><a href="{{ reper.reper.link }}" target="_blank"><span class="glyphicon glyphicon-link"></a></td>
			</tr>
			{% endfor %}
			</tbody>
		</table>     	
	</div>

	<div class="modal fade" id="modalEdit"></div>

	<div id="pagination">
   	 {{ reperi.render }}
	</div>

	<script>
		var urlEdit;
		 $(".actionAdd").click(function () {
        		urlEdit = $(this).attr("href");
    	});

		$(document).ready(function(){
			
	        // Get the checkboxes
	        $( "input" ).on( "click", function() {
	        	urlEdit = $( "input:checked" ).attr('url');
	        	$("#edit").removeClass('disabled')
	       
	        	if ( $( "input:checked" ).length > 1 || $( "input:checked" ).length == 0 ) {
	        		$("#edit").addClass('disabled')	
	        	}	
			});
	    });

		$('#modalEdit').on('show.bs.modal', function (event) {
			var modal = $(this)
			$.ajax({
				url: urlEdit,
				context: document.body
			}).done(function(response) {
				modal.html(response);
			});
		})
</script>
	

  {% endif %}
{% endblock %}