{% extends 'orderhelper/base.html' %}
{% load staticfiles %}

{% block extra_js%}
<script src="http://malsup.github.com/jquery.form.js"></script>
{% endblock %}

{% block content %}
  {% if user.is_authenticated %}
	<h1 class="sub-header">Dashboard <small> Proiect </small> </h1>

	<br /> <br />
	<div class="btn-group" role="group" aria-label="...">
		<a type="button" data-toggle="modal" data-target="#modal" href="{% url 'proiect_new' %}" class="btn btn-primary actionAdd">Add</a>
  		<a id="edit" data-toggle="modal" data-target="#modal" type="button" href="#" class="btn btn-default disabled actionEdit">Edit</a>
  		<!-- <button type="button" class="btn btn-default disabled">Delete</button> -->
	</div>
	<br /> <br />
	<hr class="featurette-divider">

	<div class="table-responsive">
		<table class="table">
		    <thead>
			    <tr>
			    	<th></th>
			    	<th>ID</th>
			        <th>Nume</th>
			        <th>Descriere</th>
 				</tr>
		    </thead>
		    <tbody>
		              
			{% for proiect in proiecte %}			
			<tr>         
				<td><input type="checkbox" url="{% url 'proiect_edit' pk=proiect.pk %}" aria-label="select"></td>  
			    <td>{{ proiect.pk }}</td>
				<td>{{ proiect.titlu }}</td>
				<td>{{ proiect.descriere }}</td>
			</tr>
			{% endfor %}
			</tbody>
		</table>     	
	</div>

	{% include "orderhelper/_pagination.html" %}

	<div class="modal fade" id="modal"></div>


<!-- Keep scripts in this order 1. dashboard_crud.js / 2. ajaxModal.js -->    
<script src="{% static 'js/dashboard_crud.js' %}"></script>
<script src="{% static 'js/ajaxModal.js' %}"></script>
	

  {% endif %}
{% endblock %}