{% extends 'orderhelper/base.html' %}
{% load staticfiles %}

{% block extra_js%}
<script src="http://malsup.github.com/jquery.form.js"></script>
{% endblock %}


{% block content %}
  {% if user.is_authenticated %}
	<h1 class="sub-header">Dashboard  </h1>
	 <br />
	<h2><em> Adauga subcomanda </em></h2>
	
	<br />
	 <form method="POST" class="proiect-form">{% csrf_token %}
	     {{ form.media }}
	    <div class="row">
          	<div class="col-md-6">

	        	{{ subcomandaform.as_p }}
	        </div>
	        <div class="col-md-2"></div>
	         <div id="bubble" class="col-md-2 placeholder">
             	<a type="button" class="actionAdd" data-toggle="modal" data-target="#modalEdit" href="{% url 'producator_new' %}">  <img src="{% static 'img/producator.jpg' %}" width="130" height="130" class="img-responsive" alt="Generic placeholder thumbnail"></a>
              <h4><span class="glyphicon glyphicon-plus-sign"> Producator</span></h4>
          
            </div>
            <div id="bubble" class="col-md-2 placeholder">
              <a type="button" class="actionAdd" data-toggle="modal" data-target="#modalEdit" href="{% url 'furnizor_new' %}"> <img src="{% static 'img/furnizor.jpg' %}" width="130" height="130" class="img-responsive" alt="Generic placeholder thumbnail"></a>
                <h4><span class="glyphicon glyphicon-plus-sign"> Furnizor</span></h4>
             
            </div>
             <div class="col-md-2"></div>
            <div id="bubble" class="col-md-2 placeholder">
              <a type="button" class="actionAdd" data-toggle="modal" data-target="#modalEdit" href="{% url 'reper_new' %}"> <img src="{% static 'img/reper.jpg' %}" width="130" height="130" class="img-responsive" alt="Generic placeholder thumbnail"></a>
                <h4><span class="glyphicon glyphicon-plus-sign"> Reper</span></h4>
             
            </div>
	    </div>		
	     
	    <div class="row"> 
	      	<div class="col-md-6">
	      		<button type="button" class="btn btn-default">Cancel</button>
		        <button type="submit" class="btn btn-primary">Save changes</button>
		    </div>
		</div>
	      	
	    </form>

<div class="modal fade" id="modalEdit"></div>
	
	<script>
		$(document).ready(function(){
	        $("#idlivrare").datetimepicker({
				format: 'mm/dd/yyyy'})

	        $("#id_cantitate").val(1);
	    });
	    
		var urlEdit;
		 $(".actionAdd").click(function () {
        		urlEdit = $(this).attr("href");
    	});
		$('#modalEdit').on('show.bs.modal', function (event) {
			var modal = $(this)
			$.ajax({
				url: urlEdit,
				context: document.body
			}).done(function(response) {
				modal.html(response);
			});
		});

	</script>

  {% endif %}
{% endblock %}