{% extends 'orderhelper/base.html' %}
{% load staticfiles %}

{% block content %}
  {% if user.is_authenticated %}
	<h1 class="sub-header">Dashboard <small> Subcomanda </small> </h1>

	{% if messages %}
	<div class="messages">
    	{% for message in messages %}
	    	{% if message.level == 20 %}
	    		<div class="alert alert-success" role="alert"><span class="glyphicon glyphicon-info-sign"></span> {{ message }}</div>
	    	{% else %}
	    		<div class="alert alert-danger" role="alert"><span class="glyphicon glyphicon-warning-sign"></span> {{ message }}</div>
	    	{% endif %}
   		{% endfor %}
	</div>
	{% endif %}


	<br /> <br />
	<div class="btn-group" role="group" aria-label="...">
 		<a href="{% url 'dashboard_subcomanda_new' %}" type="button" class="btn btn-primary">Add</a>
  		<button type="button" id="edit" class="btn btn-default disabled">Edit</button>
  		<!-- <button type="button" class="btn btn-default disabled">Delete</button> -->
	</div>
	<br /> <br />
	<hr class="featurette-divider">

	<div class="table-responsive">
		<table class="table  table-striped">
		    <thead>
			    <tr>
			    	<th></th>
			    	<th>ID</th>
			    	<th>Nr</th>
			        <th>Comanda</th>
			        <th>Status</th>
			        <th>Producator</th>
			        <th>Cod</th>
			        <th>Reper</th>
			        <th>Link</th>
			        <th>Furnizor</th>
			        <th>Cantitate</th>
			        <th>Data Livare</th>
			      	<th>Pret</th>
			      	<th>Pret Total</th>
			      	<th></th>
			      	<th>Termen Plata</th>
			      	<th>Mod plata</th>
 				</tr>
		    </thead>
		    <tbody>
		              
			{% for subcomanda in subcomenzi %}			
			<tr>         
				<td><input type="checkbox" id="{{ subcomanda.pk }}" url="{%  url 'dashboard_subcomanda_edit' pk=subcomanda.pk  %}" aria-label="select"></td>  
			    <td>{{ subcomanda.pk }}</td>
			    <td>#{{ subcomanda.numar_curent }}</td>
				<td>{{ subcomanda.comanda_ref.pk }}</td>
				<td><span class="btn {% if subcomanda.status.text == 'Deschis' %}btn-success{% endif %} {% if subcomanda.status.text == 'Inchis' %}btn-danger{% endif %} {% if subcomanda.status.text == 'Anulat' %}btn-warning{% endif %} "></span></td>
				<td>{% if subcomanda.producator %} {{ subcomanda.producator }} {% else %} <span class="glyphicon glyphicon-remove"></span> {% endif %}</td>
				<td>{{ subcomanda.reper.cod_reper }}</td>
				<td>{{ subcomanda.reper.reper }}</td>
				<td> {% if subcomanda.reper.link %} <a href="{{ subcomanda.reper.link }}" target="_blank"><span class="glyphicon glyphicon-link"></a>{% endif %}</td>
				<td>{{ subcomanda.furnizor }}</td>
				<td>{{ subcomanda.cantitate }}</td>
				<td>{{ subcomanda.data_livrare }}</td>
				<td>{{ subcomanda.pret }}</td>
				<td>{{ subcomanda.pret_total }}</td>
				<td>{{ subcomanda.valuta }}</td>
				<td>{{ subcomanda.termen_plata }}</td>
				<td>{{ subcomanda.mod_plata }}</td>
			</tr>
			{% empty %}
    			<div class="alert alert-warning" role="alert">There is no data available.</div>
			{% endfor %}
			</tbody>
		</table>     	
	</div>

	{% include "orderhelper/_pagination.html" %}

<script src="{% static 'js/dashboard.js' %}"></script>	

  {% endif %}
{% endblock %}