{% extends 'orderhelper/base.html' %}
{% load staticfiles %}

{% block extra_js%}
<script src="http://malsup.github.com/jquery.form.js"></script>
{% endblock %}


{% block content %}
  {% if user.is_authenticated %}
	<h1 class="sub-header">Dashboard <small> Adauga subcomanda </small>  </h1>

	{% if messages %}
	<div class="messages">
    	{% for message in messages %}
    	<div class="alert alert-success" role="alert">{{ message }}</div>
   		 {% endfor %}
	</div>
	{% endif %}

	 <br />
	
	<br />
	 <form method="POST" class="proiect-form">{% csrf_token %}
	     {{ form.media }}
	    <div class="row">
          	<div class="col-md-6">

	        	{{ subcomandaform.as_p }}
	        </div>
	        <div class="col-md-2"></div>
	         <div id="bubble" class="col-md-2 placeholder">
             	<a type="button" class="actionAdd" data-toggle="modal" data-target="#modal" href="{% url 'producator_new' %}">  <img src="{% static 'img/producator.jpg' %}" width="130" height="130" class="img-responsive" alt="Generic placeholder thumbnail"></a>
              <h4><span class="glyphicon glyphicon-plus-sign"> Producator</span></h4>
          
            </div>
            <div id="bubble" class="col-md-2 placeholder">
              <a type="button" class="actionAdd" data-toggle="modal" data-target="#modal" href="{% url 'furnizor_new' %}"> <img src="{% static 'img/furnizor.jpg' %}" width="130" height="130" class="img-responsive" alt="Generic placeholder thumbnail"></a>
                <h4><span class="glyphicon glyphicon-plus-sign"> Furnizor</span></h4>
             
            </div>
             <div class="col-md-2"></div>
             <div id="bubble" class="col-md-2 placeholder">
            	<a type="button" class="actionAdd" data-toggle="modal" data-target="#modal" href="{% url 'reper_new' %}"> <img src="{% static 'img/reper.jpg' %}" width="130" height="130" class="img-responsive" alt="Generic placeholder thumbnail"></a>
                <h4><span class="glyphicon glyphicon-plus-sign"> Reper</span></h4>
            </div>

            <div class="col-md-2"></div>
            	<div id="bubble" class="col-md-2 placeholder">
            		<a type="button" class="actionAdd" data-toggle="modal" data-target="#modal" href="{% url 'reper_view' %}"> <img src="{% static 'img/view_reper.jpg' %}" width="130" height="130" class="img-responsive" alt="Generic placeholder thumbnail"></a>
                	<h4><span class="glyphicon glyphicon-eye-open"> Reper</span></h4>
            </div>
	    </div>		
	     
	     <hr class="featurette-divider">
	     
	    <div class="row"> 
	      	<div class="col-md-6">
	      		<a type="button" href="{% url 'dashboard_subcomanda' %}" class="btn btn-default">Cancel</a>
		        <button type="submit" class="btn btn-primary">Save changes</button>
		    </div>
		</div>
	      	
	    </form>

<div class="modal fade" id="modal"></div>
	
<script>
	$(document).ready(function(){
		$("#idlivrare").datetimepicker({
			format: 'mm/dd/yyyy'});

	    $("#id_cantitate").val(1);
	});
</script>

<!-- Keep scripts in this order 1. dashboard.js / 2. ajaxModal.js --> 
<script src="{% static 'js/dashboard.js' %}"></script>
<script src="{% static 'js/ajaxModal.js' %}"></script>

  {% endif %}
{% endblock %}