{% extends 'orderhelper/base.html' %}
{% load staticfiles %}

{% block extra_js%}
<script src="http://malsup.github.com/jquery.form.js"></script>
{% endblock %}


{% block content %}
  {% if user.is_authenticated %}
	<h1 class="sub-header">Dashboard  </h1>
	 <br />
	<h2><em> Editeaza comanda </em></h2>

	<br />
	 <form method="POST" class="proiect-form">{% csrf_token %}
	    
	    <div class="row">
          	<div class="col-md-6">
	        	{{ comandaform.as_p }}
	        </div>
	        <div class="col-md-2"></div>
	         <div id="bubble" class="col-md-2 placeholder">
               <a type="button" class="actionAdd" data-toggle="modal" data-target="#modal" href="{% url 'persoana_new' %}"> <img src="{% static 'img/subcomanda.jpg' %}" width="130" height="130" class="img-responsive" alt="Generic placeholder thumbnail"></a>
              <h4><span class="glyphicon glyphicon-plus-sign"> Solicitant</span></h4>
             <!--  <span class="text-muted">adauga subcomanda noua</span> -->
            </div>
            <div id="bubble" class="col-md-2 placeholder">
             <a type="button" class="actionAdd" data-toggle="modal" data-target="#modal" href="{% url 'proiect_new' %}"> <img src="{% static 'img/proiect.jpg' %}" width="130" height="130" class="img-responsive" alt="Generic placeholder thumbnail"></a>
                <h4><span class="glyphicon glyphicon-plus-sign"> Proiect</span></h4>
             <!--  <span class="text-muted">adauga subcomanda noua</span> -->
            </div>
	    </div>		
	     
	    <div class="row"> 
	      	<div class="col-md-6">
	      		<a type="button" href="{% url 'dashboard_comanda' %}" class="btn btn-default">Cancel</a>
		        <button type="submit" class="btn btn-primary">Save changes</button>
		    </div>
		</div>
	      	
	    </form>


<div class="modal fade" id="modal"></div>

<!-- Keep scripts in this order 1. dashboard.js / 2. ajaxModal.js --> 
<script src="{% static 'js/dashboard.js' %}"></script>
<script src="{% static 'js/ajaxModal.js' %}"></script>


  {% endif %}
{% endblock %}
