{% extends 'orderhelper/base.html' %}
{% load staticfiles %}

{% block content %}
  {% if user.is_authenticated %}
	<h1 class="sub-header">Dashboard <small> Comanda </small> </h1>

	{% if messages %}
	<div class="messages">
    	{% for message in messages %}
    	<div class="alert alert-success" role="alert">{{ message }}</div>
    		<!-- <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li> -->
   		 {% endfor %}
	</div>
	{% endif %}

	<br /> <br />
	<div class="btn-group" role="group" aria-label="...">
 		<a href="{% url 'dashboard_comanda_new' %}" type="button" class="btn btn-primary">Add</a>
  		<button type="button" id="edit" class="btn btn-default disabled">Edit</button>
  		<!-- <button  type="button" class="btn btn-default" rel="popover" data-toggle="popover" data-placement="left" data-content="Delete function is not supported for now.">Delete</button> -->
	</div>
	<br /> <br />
	<hr class="featurette-divider">

	<div class="table-responsive">
		<table class="table  table-striped">
		    <thead>
			    <tr>
			    	<th></th>
			    	<th>Numar</th>
			    	<th>Status</th>
			        <th>Data</th>
			        <th>Obiect succint</th>
			        <th>Solicitant</th>
			        <th>Preluat</th>
			        <th>Proiect</th>
 				</tr>
		    </thead>
		    <tbody>
		              
			{% for comanda in comenzi %}			
			<tr>         
				<td><input type="checkbox" url="{%  url 'dashboard_comanda_edit' pk=comanda.pk  %}" aria-label="select"></td> 
			    <td>{{ comanda.pk }}</td>
			    <td><span class="btn {% if comanda.status.text == 'Deschis' %}btn-success{% endif %} {% if comanda.status.text == 'Inchis' %}btn-danger{% endif %} {% if comanda.status.text == 'Anulat' %}btn-warning{% endif %} "></span></td>
				<td>{{ comanda.data }}</td>
				<td>{{ comanda.obiect_succint }}</td>
				<td>{{ comanda.solicitant }}</td>
				<td>{{ comanda.preluat }}</td>
				<td>{{ comanda.proiect }}</td>
			</tr>
			{% empty %}
    			<div class="alert alert-warning" role="alert">There is no data available.</div>
			{% endfor %}
			</tbody>
		</table>     	
	</div>

	{% include "orderhelper/_pagination.html" %}

<script src="{% static 'js/dashboard.js' %}"></script>


  {% endif %}
{% endblock %}