
  {% if user.is_authenticated %}
<div class="modal-dialog modal-lg">
    <div class="modal-content">
	    	<div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		        <h3 class="modal-title"><b>Lista reper</b></h3>
	      	</div>
	      	<div class="modal-body">
	      		<div class="table-responsive">
		<table class="table table-striped">
		    <tbody>
		              
			{% for reper in reperi %}			
			<tr>         
				<td><b>{{ reper.cod_reper }}</b></td>
				<td>{{ reper.reper }}</td>
				<td>{% if reper.link %}<a href="{{ reper.link }}" target="_blank"><span class="glyphicon glyphicon-link"></a> {% endif %}</td>
			</tr>
			{% empty %}
    			<div class="alert alert-warning" role="alert">There is no data available.</div>
			{% endfor %}
			</tbody>
		</table>     	
	</div>
	      	</div>
    

    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->


  {% endif %}