{% extends 'orderhelper/base.html' %}
{% load staticfiles %}

{% block content %}
  {% if user.is_authenticated %}
	<h1 class="sub-header">Dashboard <small> Comanda </small> </h1>

	<br /> <br />
	<div class="btn-group" role="group" aria-label="...">
 		<a href="{% url 'dashboard_comanda_new' %}" type="button" class="btn btn-primary">Add</a>
  		<button type="button" id="edit" class="btn btn-default disabled">Edit</button>
  		<button  type="button" class="btn btn-default disabled">Delete</button>
	</div>
	<br /> <br />
	<hr class="featurette-divider">

	<div class="table-responsive">
		<table class="table">
		    <thead>
			    <tr>
			    	<th></th>
			    	<th>ID</th>
			        <th>Numar unic</th>
			        <th>Data</th>
			        <th>Obiect succint</th>
			        <th>Solicitant</th>
			        <th>Preluat</th>
			        <th>Proiect</th>
 				</tr>
		    </thead>
		    <tbody>
		              
			{% for comanda in comenzi %}			
			<tr>         
				<td><input type="checkbox" url="{%  url 'dashboard_comanda_edit' pk=comanda.pk  %}" aria-label="select"></td> 
			    <td>{{ comanda.pk }}</td>
				<td>{{ comanda.numar_unic }}</td>
				<td>{{ comanda.data }}</td>
				<td>{{ comanda.obiect_succint }}</td>
				<td>{{ comanda.solicitant }}</td>
				<td>{{ comanda.preluat }}</td>
				<td>{{ comanda.proiect }}</td>
			</tr>
			{% endfor %}
			</tbody>
		</table>     	
	</div>

	{% include "orderhelper/_pagination.html" %}

<script src="{% static 'js/dashboard.js' %}"></script>


  {% endif %}
{% endblock %}