{% extends 'orderhelper/base.html' %}
{% load staticfiles %}


	{% block content %}
  {% if user.is_authenticated %}
	<h1 class="sub-header">Dashboard</h1>
	
  <div id="dashboard" class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2">
          

          <div class="row placeholders">
            <div id="bubble" class="col-sm-6 col-md-4 placeholder">
              <a href="{% url 'comanda_all' %}">  <img src="{% static 'img/comanda.jpg' %}" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail"></a>
              <h4>Comanda</h4>
            <!--   <span class="text-muted">adauga comanda noua</span> -->
            </div>
            <div id="bubble" class="col-sm-6 col-md-4 placeholder">
              <a href="{% url 'subcomanda_all' %}"> <img src="{% static 'img/subcomanda.jpg' %}" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail"></a>
              <h4>Subcomanda</h4>
             <!--  <span class="text-muted">adauga subcomanda noua</span> -->
            </div>
            <div id="bubble" class="col-sm-6 col-md-4 placeholder">
              <a href="{% url 'proiect_all' %}"> <img src="{% static 'img/proiect.jpg' %}" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail"></a>
              <h4>Proiect</h4>
            <!--   <span class="text-muted">adauga proiect nou</span> -->
            </div>
            <div id="bubble" class="col-sm-6 col-md-4 placeholder">
              <a href="{% url 'furnizor_all' %}"><img src="{% static 'img/furnizor.jpg' %}" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail"></a>
              <h4>Furnizor</h4>
             <!--  <span class="text-muted">adauga un furnizor</span> -->
            </div>
            <div id="bubble" class="col-sm-6 col-md-4 placeholder">
              <a href="{% url 'producator_all' %}"><img src="{% static 'img/producator.jpg' %}" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail"></a>
              <h4>Producator</h4>
             <!--  <span class="text-muted">adauga un producator</span> -->
            </div>
            <div id="bubble" class="col-sm-6 col-md-4 placeholder">
              <a href="{% url 'reper_all' %}"><img src="{% static 'img/reper.jpg' %}" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail"></a>
              <h4>Reper</h4>
              <!-- <span class="text-muted">adauga reper nou</span> -->
            </div>
          </div>
          </div>
{% endif %}
{% endblock %}