{% extends 'orderhelper/base.html' %}

{% block extra_js%}
<script src="http://malsup.github.com/jquery.form.js"></script>
{% endblock %}

{% block content %}
  {% if user.is_authenticated %}
	<h1 class="sub-header">Dashboard - <em> Furnizor </em> </h1>

	<br /> <br />
	<div class="btn-group" role="group" aria-label="...">
 		<a type="button" data-toggle="modal" data-target="#modal" href="{% url 'furnizor_new' %}" class="btn btn-primary">Add</a>
  		<button type="button" class="btn btn-default disabled">Edit</button>
  		<button type="button" class="btn btn-default disabled">Delete</button>
	</div>
	<br /> <br />
	<hr class="featurette-divider">

	<div class="table-responsive">
		<table class="table">
		    <thead>
			    <tr>
			    	<th></th>
			    	<th>ID</th>
			        <th>Nume</th>
			        <th>Telefon</th>
			        <th>Descriere</th>
 				</tr>
		    </thead>
		    <tbody>
		              
			{% for furnizor in furnizori %}			
			<tr>         
				<td><input type="checkbox" aria-label="select"></td>  
			    <td>{{ furnizor.pk }}</td>
				<td>{{ furnizor.nume }}</td>
				<td>{{ furnizor.telefon }}</td>
				<td>{{ furnizor.descriere }}</td>
			</tr>
			{% endfor %}
			</tbody>
		</table>     	
	</div>

<div class="modal fade" id="modal"></div>

	<script>
		$('#modal').on('show.bs.modal', function (event) {
			var modal = $(this)
			$.ajax({
				url: "{% url 'furnizor_new' %}",
				context: document.body
			}).done(function(response) {
				modal.html(response);
			});
		})
</script>

  {% endif %}
{% endblock %}