{% extends 'orderhelper/base.html' %}

	{% block content %}
	{% if user.is_authenticated %}
	<h1 class="sub-header">History</h1>
	<br /><br />

{% block extra_js%}
    <script src="http://malsup.github.com/jquery.form.js"></script>
{% endblock %}

<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  {% for comanda in comenzi %}	
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#{{ comanda.pk }}" aria-expanded="false" aria-controls="{{ comanda.pk }}">
        	<div class="row">
   				<div class="col-md-2" data-toggle="tooltip" data-placement="top" title="Numar unic"><b>Comanda: {{ comanda.numar_unic }}</b></div>
		   		<div class="col-md-1" data-toggle="tooltip" data-placement="top" title="Data">{{ comanda.data }}</div>
          <div class="col-md-1" data-toggle="tooltip" data-placement="top" title="Data primire">{{ comanda.data_primire }}</div>
		   		<div class="col-md-4" data-toggle="tooltip" data-placement="top" title="Obiect succint">{{ comanda.obiect_succint }}</div>
		   		<div class="col-md-2" data-toggle="tooltip" data-placement="top" title="Solicitant">{{ comanda.solicitant }}</div>
	        <div class="col-md-2">
              <button class="btn btn-primary actionViewComanda" data-toggle="modal" id="close" data-target="#modalEdit" href="{% url 'comanda_detail' pk=comanda.pk %}"><span class="glyphicon glyphicon-eye-open"></span></button>
          </div> 
   			</div>	
        </a>
      </h4>
    </div>

    

    <div id="{{ comanda.pk }}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">
      	<div class="list-group">
        {% for subcomanda in comanda.show_subcomenzi %}
   			 <button type="button" class="list-group-item">
   			 	<div class="row">
   			 		<div class="col-md-1" data-toggle="tooltip" data-placement="top" title="Numar curent">{{ subcomanda.numar_curent }}</div>
   			 		<div class="col-md-1" data-toggle="tooltip" data-placement="top" title="Producator">{{ subcomanda.producator }}</div>
   			 		<div class="col-md-2" data-toggle="tooltip" data-placement="top" title="Reper"><b>{{ subcomanda.reper.cod_reper }}</b> {{ subcomanda.reper.reper }}</div>
   			 		<div class="col-md-1" data-toggle="tooltip" data-placement="top" title="Furnizor">{{ subcomanda.furnizor }}</div>
   			 		<div class="col-md-1" data-toggle="tooltip" data-placement="top" title="Cantitate">{{ subcomanda.cantitate }}</div>
   			 		<div class="col-md-1" data-toggle="tooltip" data-placement="top" title="Data livrare">{{ subcomanda.data_livrare }}</div>
   			 		<div class="col-md-1" data-toggle="tooltip" data-placement="top" title="Data primire">{{ subcomanda.data_primire }}</div>
   			 		<div class="col-md-1" data-toggle="tooltip" data-placement="top" title="Pret">{{ subcomanda.pret }}</div>
   			 	
   			 		<div class="col-md-1" data-toggle="tooltip" data-placement="top" title="Termen plata">{{ subcomanda.termen_plata }}</div>
   			 		<div class="col-md-1" data-toggle="tooltip" data-placement="top" title="Mod plata">{{ subcomanda.mod_plata }}</div>
            <div class="col-md-1" id="actions" data-toggle="tooltip" data-placement="top" title="Actions">
                <a class="btn btn-primary actionViewSubcomanda" data-toggle="modal" data-target="#modalEdit" href="{% url 'subcomanda_detail' pk=subcomanda.pk %}"><span class="glyphicon glyphicon-eye-open"></span></a>
            </div>
   			 	</div>	

   			 </button>
        
        {% endfor %}
        </div>
      </div>
    </div>
  </div>
   {% endfor %}  
</div>

{% include "orderhelper/_pagination.html" %}

<div class="modal fade" id="modalEdit"></div>
    
<script>
    var urlView;
 

    $(".actionViewSubcomanda").click(function () {
            urlView = $(this).attr("href");
    });

    $(".actionViewComanda").click(function () {
            urlView = $(this).attr("href");
    });

  $('#modalEdit').on('show.bs.modal', function (event) {
    var modal = $(this);  
    $.ajax({
      url: urlView,
      context: document.body
    }).done(function(response) {
      modal.html(response);
    });
  })

  $('body').on('hidden.bs.modal', '.modal', function () {
        $(this).removeData('bs.modal');
    });
</script>

{% endif %} 
{% endblock %}