{% extends 'orderhelper/base.html' %}

	{% block content %}
	{% if user.is_authenticated %}
	<h1 class="sub-header">Orders history</h1>
	<br /><br />


<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  {% for comanda in comenzi %}	
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#{{ comanda.pk }}" aria-expanded="false" aria-controls="{{ comanda.pk }}">
        	<div class="row">
   				<div class="col-md-2" data-toggle="tooltip" data-placement="top" title="Numar unic"><b>Comanda: {{ comanda.numar_unic }}</b></div>
		   		<div class="col-md-1" data-toggle="tooltip" data-placement="top" title="Status"><span class="btn {% if comanda.status.text == 'Deschis' %}btn-success{% endif %} {% if comanda.status.text == 'Inchis' %}btn-danger{% endif %} {% if comanda.status.text == 'Anulat' %}btn-warning{% endif %} "></span></div>
		   		<div class="col-md-1" data-toggle="tooltip" data-placement="top" title="Data">{{ comanda.data }}</div>
		   		<div class="col-md-4" data-toggle="tooltip" data-placement="top" title="Obiect succint">{{ comanda.obiect_succint }}</div>
		   		<div class="col-md-2" data-toggle="tooltip" data-placement="top" title="Solicitant">{{ comanda.solicitant }}</div>
		   		<div class="col-md-1" data-toggle="tooltip" data-placement="top" title="Preluare">{{ comanda.preluat }}</div>
		   		<div class="col-md-1" data-toggle="tooltip" data-placement="top" title="Data primire">{{ comanda.data_primire }}</div>
	   
   			</div>	
        </a>
      </h4>
    </div>

    

    <div id="{{ comanda.pk }}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">
      	<div class="list-group">
        {% for subcomanda in comanda.show_subcomenzi %}
   			 <button type="button" class="list-group-item">
   			 	<div class="row">
   			 		<div class="col-md-1" data-toggle="tooltip" data-placement="top" title="Numar curent">{{ subcomanda.numar_curent }}</div>
   			 		<div class="col-md-1" data-toggle="tooltip" data-placement="top" title="Status"><span class="btn {% if subcomanda.status.text == 'Deschis' %}btn-success{% endif %} {% if subcomanda.status.text == 'Inchis' %}btn-danger{% endif %} {% if subcomanda.status.text == 'Anulat' %}btn-warning{% endif %} "></span></div>
   			 		<div class="col-md-1" data-toggle="tooltip" data-placement="top" title="Producator">{{ subcomanda.producator }}</div>
   			 		<div class="col-md-1" data-toggle="tooltip" data-placement="top" title="Cod reper">{{ subcomanda.reper.cod_reper }}</div>
   			 		<div class="col-md-1" data-toggle="tooltip" data-placement="top" title="Reper">{{ subcomanda.reper.reper }}</div>
   			 		<div class="col-md-1" data-toggle="tooltip" data-placement="top" title="Furnizor">{{ subcomanda.furnizor }}</div>
   			 		<div class="col-md-1" data-toggle="tooltip" data-placement="top" title="Cantitate">{{ subcomanda.cantitate }}</div>
   			 		<div class="col-md-1" data-toggle="tooltip" data-placement="top" title="Data livrare">{{ subcomanda.data_livrare }}</div>
   			 		<div class="col-md-1" data-toggle="tooltip" data-placement="top" title="Data primire">{{ subcomanda.data_primire }}</div>
   			 		<div class="col-md-1" data-toggle="tooltip" data-placement="top" title="Pret">{{ subcomanda.pret }}</div>
   			 		<div class="col-md-1" data-toggle="tooltip" data-placement="top" title="Link"><a href="{{ subcomanda.link }}" target="_blank"><span class="glyphicon glyphicon-link"></a></div>
   			 		<div class="col-md-1" data-toggle="tooltip" data-placement="top" title="Termen plata">{{ subcomanda.termen_plata }}</div>
   			 		<div class="col-md-1" data-toggle="tooltip" data-placement="top" title="Mod plata">{{ subcomanda.mod_plata }}</div>
   			 	</div>	

   			 </button>
        
        {% endfor %}
        </div>
      </div>
    </div>
  </div>
   {% endfor %}  
</div>

{% endif %} 
{% endblock %}