{% extends 'orderhelper/base.html' %}

	{% block content %}
	{% if user.is_authenticated %}
	<h1 class="sub-header">Pending orders</h1>
	<br /><br />

{% block extra_js%}
    <script src="http://malsup.github.com/jquery.form.js"></script>
{% endblock %}

	<div class="list-group">
	{% for comanda in comenzi %}	
		  <div class="panel {% if comanda.is_late %} panel-danger {% else %} {% if comanda.is_today %} panel-warning {% else %} panel-default {% endif %}{% endif %}">
		    <div class="panel-heading" role="tab" id="headingOne">
		      <h4 class="panel-title">
		        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#{{ comanda.pk }}" aria-expanded="false" aria-controls="{{ comanda.pk }}">
		        	<div class="row" style="padding-bottom: 7px">
		        	<div class="col-md-7"> <h4>Comanda: {{ comanda.numar_unic }}</h4> </div>
		        	<div class="col-md-3"></div>
		        	<div class="col-md-2">
						
						<button class="btn btn-primary actionViewComanda" data-toggle="modal" id="close" data-target="#modalEdit" href="{% url 'comanda_detail' pk=comanda.pk %}"><span class="glyphicon glyphicon-eye-open"></span></button>
		   			 	
		   			 	<button  class="{% if comanda.calculate_progress != 100 %} btn btn-default disabled {% endif %} btn btn-default actionCloseComanda" data-toggle="modal" data-target="#modalEdit" href="{% url 'pending_comanda_close' pk=comanda.pk %}"><span class="glyphicon glyphicon-check"></span></button>

		   			 	<button class="{% if subcomanda.status.text == 'Anulat' %} btn btn-default disabled {% endif %} btn btn-default actionCancelSubcomanda" data-toggle="modal" data-target="#modalEdit" href="{% url 'pending_comanda_cancel' pk=comanda.pk %}"><span class="glyphicon glyphicon-remove-circle"></span></button>
		        	</div>
		        </div>

		        	<div class="progress">
  						<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100" style="width: {{ comanda.calculate_progress }}%">
    						<span class="sr-only">60% Complete (warning)</span>
  						</div>
					</div>

		        	<div class="row">
				   		
				   		<div class="col-md-2" data-toggle="tooltip" data-placement="top" title="Data">{{ comanda.data }}</div>
				   		<div class="col-md-4" data-toggle="tooltip" data-placement="top" title="Obiect succint">{{ comanda.obiect_succint }}</div>
				   		<div class="col-md-2" data-toggle="tooltip" data-placement="top" title="Solicitant">{{ comanda.solicitant }}</div>
				   		<div class="col-md-2" data-toggle="tooltip" data-placement="top" title="Proiect">{{ comanda.proiect }}</div>
				   		<div class="col-md-2" data-toggle="tooltip" data-placement="top" title="Pret total">{{ comanda.pret_total }} <span class="glyphicon {% if comanda.show_valuta.text == 'EURO' %} glyphicon-euro {% else %}  {% if comanda.show_valuta.text == 'USD' %} glyphicon-usd {% else %} glyphicon-registration-mark {% endif %} {% endif %}"></span> </div>
				   
				   		
		   			</div>	
		        </a>
		      </h4>
		    </div>

		    <div id="{{ comanda.pk }}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
		      <div class="panel-body">
		      	<div class="list-group ">
		        {% for subcomanda in comanda.show_subcomenzi %}

		   			 <button type="button" class="list-group-item {%if subcomanda.is_late %}list-group-item-danger{% endif %} {%if subcomanda.is_today %}list-group-item-warning{% endif %} ">
		   			 	<div class="row">
		   			 		<div class="col-md-1" data-toggle="tooltip" data-placement="top" title="Numar curent">{{ subcomanda.numar_curent }}</div>
		   			 		<div class="col-md-1" data-toggle="tooltip" data-placement="top" title="Status"><span class="btn {% if subcomanda.status.text == 'Deschis' %}btn-success{% endif %} {% if subcomanda.status.text == 'Inchis' %}btn-danger{% endif %} {% if subcomanda.status.text == 'Anulat' %}btn-warning{% endif %} "></span></div>
		   			 		<div class="col-md-1" data-toggle="tooltip" data-placement="top" title="Producator">{{ subcomanda.producator }}</div>
		   			 		<div class="col-md-1" data-toggle="tooltip" data-placement="top" title="Cod reper">{{ subcomanda.reper.cod_reper }}</div>
		   			 		<div class="col-md-1" data-toggle="tooltip" data-placement="top" title="Reper">{{ subcomanda.reper.reper }}</div>
		   			 		<div class="col-md-1" data-toggle="tooltip" data-placement="top" title="Link"><a href="{{ subcomanda.reper.link }}" target="_blank"><span class="glyphicon glyphicon-link"></a>
		   			 		</div>
		   			 		<div class="col-md-1" data-toggle="tooltip" data-placement="top" title="Furnizor">{{ subcomanda.furnizor }}</div>
		   			 		<div class="col-md-1" data-toggle="tooltip" data-placement="top" title="Cantitate">Q: {{ subcomanda.cantitate }}</div>
		   			 		<div class="col-md-1" data-toggle="tooltip" data-placement="top" title="Pret">{{ subcomanda.pret }} </div>
		   			 		<div class="col-md-1" data-toggle="tooltip" data-placement="top" title="Pret Total">{{ subcomanda.pret_total }}</div>
		   			 		<div class="col-md-1" data-toggle="tooltip" data-placement="top" title="Data livrare">{{ subcomanda.data_livrare }}</div>
		   			 		<div class="col-md-1" id="actions" data-toggle="tooltip" data-placement="top" title="Actions">
		   			 			<a class="btn btn-primary actionViewSubcomanda" data-toggle="modal" data-target="#modalEdit" href="{% url 'subcomanda_detail' pk=subcomanda.pk %}"><span class="glyphicon glyphicon-eye-open"></span></a>
		   			 	
		   			 			<a  class="{% if subcomanda.status.text != 'Deschis' %} btn btn-default disabled {% endif %} btn btn-default actionCloseSubcomanda" data-toggle="modal" data-target="#modalEdit" href="{% url 'pending_subcomanda_close' pk=subcomanda.pk %}"><span class="glyphicon glyphicon-check"></span></a>

		   			 			<a class="{% if subcomanda.status.text == 'Anulat' %} btn btn-default disabled {% endif %} btn btn-default actionCancelSubcomanda" data-toggle="modal" data-target="#modalEdit" href="{% url 'pending_subcomanda_cancel' pk=subcomanda.pk %}"><span class="glyphicon glyphicon-remove-circle"></span></a>
		   			 			
		   			 		</div>
		   			 	
		   			 	</div>	

		   			 </button>
		        {% endfor %}
		        </div>
		      </div>
		    </div>
		  </div>
		   {% endfor %}  
		</div>

<div class="modal fade" id="modalEdit"></div>
    
<script>
	var urlView;
	$(".actionCloseSubcomanda").click(function () {
        		urlView = $(this).attr("href");
    });

    $(".actionCancelSubcomanda").click(function () {
        		urlView = $(this).attr("href");
        		console.log(urlView);
    });

    $(".actionViewSubcomanda").click(function () {
        		urlView = $(this).attr("href");
    });

    $(".actionCloseComanda").click(function () {
        		urlView = $(this).attr("href");
    });

    $(".actionCancelComanda").click(function () {
        		urlView = $(this).attr("href");
    });

    $(".actionViewComanda").click(function () {
        		urlView = $(this).attr("href");
    });

	$('#modalEdit').on('show.bs.modal', function (event) {
		var modal = $(this);	
		$.ajax({
			url: urlView,
			context: document.body
		}).done(function(response) {
			modal.html(response);
		});
	})

	$('body').on('hidden.bs.modal', '.modal', function () {
        $(this).removeData('bs.modal');
    });
</script>

	{% endif %}
{% endblock %}