{% load staticfiles %}

<div class="modal-dialog">
    <div class="modal-content">
	    <form method="POST" action="{{ url }}" id="subcomanda_cancel" class="subcomanda-form" >{% csrf_token %}
	    	  {{ form.media }}
	    	<div class="modal-header">

		        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		        <h4 class="modal-title">{{ dialog_title }}</h4>
	      	</div>
	      	<div class="modal-body">
	      	
	      		<div class="row">
          			<div class="col-md-12">
          				<div class="alert alert-info" role="alert">Esti sigur ca doresti sa anulezi aceasta subcomanda?</div>
	        			 O poti face activa din nou din sectiunea dashboard.
	        			 	{{ form.as_p }}
	        		</div>
	        	</div>		
	      	</div>
	      	<div class="modal-footer">
		        <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
		        <button type="submit" class="btn btn-primary">Yes</button>
	      	</div>
	    </form>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->

<script>

    var form_options = { target: '#modal', success: function(response) {} };
    $('#subcomanda_cancel').ajaxForm(form_options);
</script>
<script src="{% static 'js/jquery-1.11.0.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script> 
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
<script src="{% static 'js/moment.js' %}"></script> 
<script src="{% static 'js/bootstrap-datetimepicker.js' %}"></script>  