{% extends 'orderhelper/base.html' %}

{% block extra_js%}
<script src="http://malsup.github.com/jquery.form.js"></script>
{% endblock %}


{% block content %}
  {% if user.is_authenticated %}
	<h1 class="sub-header">Dashboard - <em> Producator </em> </h1>

	<br /> <br />
	<div class="btn-group" role="group" aria-label="...">
 		<a type="button" data-toggle="modal" data-target="#modalProducator" href="{% url 'producator_new' %}" class="btn btn-primary">Add</a>
  		<a id="edit" data-toggle="modal" data-target="#modalProducatorEdit" type="button"  href="#" class="btn btn-default disabled">Edit</a>
  		<button type="button" class="btn btn-default disabled">Delete</button>
	</div>

	<br /> <br />
	<hr class="featurette-divider">

	<div class="table-responsive">
		<table class="table">
		    <thead>
			    <tr>
			    	<th></th>
			    	<th>ID</th>
			        <th>Nume</th>
			        <th>Telefon</th>
			        <th>Descriere</th>
 				</tr>
		    </thead>
		    <tbody>
		              
			{% for producator in producatori %}			
			<tr>         
				<td><input type="checkbox" url="{% url 'producator_edit' pk=producator.pk %}" aria-label="select"></td>  
			    <td>{{ producator.pk }}</td>
				<td>{{ producator.nume }}</td>
				<td>{{ producator.telefon }}</td>
				<td>{{ producator.descriere }}</td>
			</tr>
			{% endfor %}
			</tbody>
		</table>     	
	</div>

	<div class="modal fade" id="modalProducator"></div>
	<div class="modal fade" id="modalProducatorEdit"></div>

	<script>

		$(document).ready(function(){

			var urlEdit;


			// Make call to edit 
	        $("#edit").click(function(){
				$(location).attr('href', urlEdit );
			});

	        // Get the checkboxes
	        $( "input" ).on( "click", function() {
	        	urlEdit = $( "input:checked" ).attr('url');


	        	$("#edit").removeClass('disabled')
	        	
	        	if ( $( "input:checked" ).length > 1 || $( "input:checked" ).length == 0 ) {
	        		$("#edit").addClass('disabled')	
	        	}	
			});
	    });

		$('#modalProducator').on('show.bs.modal', function (event) {
			var modal = $(this)
			$.ajax({
				url: "{% url 'producator_new' %}",
				context: document.body
			}).done(function(response) {
				modal.html(response);
			});
		})

		$('#modalProducatorEdit').on('show.bs.modal', function (event) {
			var modal = $(this)
			$.ajax({
				url: urlEdit,
				context: document.body
			}).done(function(response) {
				modal.html(response);
			});
		})
</script>

  {% endif %}
{% endblock %}