{% extends 'orderhelper/base.html' %}
{% load staticfiles %}

	{% block content %}
	{% if user.is_authenticated %}
	<h1 class="sub-header">Search</h1>
	<br /><br />

{% block extra_js%}
    <script src="http://malsup.github.com/jquery.form.js"></script>
{% endblock %}

<br />
<div class="well">
<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <div class="input-group">
      <span class="input-group-addon">
        <input type="checkbox" name="filter" ref='cod_reper_text'>
      </span>
      <input type="text" id='cod_reper_text' placeholder='Cod reper' class="form-control">
      <span class="input-group-addon" id="basic-addon2"><strong>Cod reper</strong></span>
    </div><!-- /input-group -->
  </div>
</div>

<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <div class="input-group">
      <span class="input-group-addon">
        <input type="checkbox" name="filter" ref='reper_text'>
      </span>
      <input type="text" id='reper_text' placeholder='Reper' class="form-control">
      <span class="input-group-addon" style="padding-left: 39px;" id="basic-addon2"><strong>Reper</strong></span>
    </div><!-- /input-group -->
  </div>
</div>

  <div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <div class="input-group">
      <span class="input-group-addon">
        <input type="checkbox" name="filter" ref='furnizor_text'>
      </span>
      <input type="text" id='furnizor_text' placeholder='Furnizor' class="form-control">
      <span class="input-group-addon" style="padding-left: 22px;" id="basic-addon2"><strong>Furnizor</strong></span>
    </div><!-- /input-group -->
  </div>
  </div>

<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <div class="input-group">
      <span class="input-group-addon">
        <input type="checkbox" name="filter" ref='proiect_text'>
      </span>
      <input type="text" id='proiect_text' placeholder='Proiect' class="form-control" aria-label="...">
      <span class="input-group-addon" style="padding-left: 31px;" id="basic-addon2"><strong>Proiect</strong></span>
    </div><!-- /input-group -->
  </div>
  </div> 

  <br />
  <div class="row"> 
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <button type="button" id='clear' class="btn btn-default">Clear</button>
      <button type="submit" id='search' class="btn btn-primary">Search</button>
    </div>

  </div> 
</div>
  <br /><br />


<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  {% for subcomanda in subcomenzi %}	
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        	<div class="row">
            <div class="col-md-2" rel="tooltip" data-toggle="tooltip" data-placement="top" title="Comanda">Comanda: {{ subcomanda.comanda_ref.numar_unic }}</div>
            <div class="col-md-1" rel="tooltip" data-toggle="tooltip" data-placement="top" title="Proiect">{{ subcomanda.comanda_ref.proiect }}</div>
            <div class="col-md-1" rel="tooltip" data-toggle="tooltip" data-placement="top" title="Producator">{{ subcomanda.producator }}</div>
            <div class="col-md-2" rel="tooltip" data-toggle="tooltip" data-placement="top" title="Reper"><b>{{ subcomanda.reper.cod_reper }}</b> {{ subcomanda.reper.reper }}</div>
            <div class="col-md-1" rel="tooltip" data-toggle="tooltip" data-placement="top" title="Furnizor">{{ subcomanda.furnizor }}</div>
            <div class="col-md-1" rel="tooltip" data-toggle="tooltip" data-placement="top" title="Cantitate">Q: {{ subcomanda.cantitate }}</div>
            <div class="col-md-1" rel="tooltip" data-toggle="tooltip" data-placement="top" title="Pret">{{ subcomanda.pret }} <span class="glyphicon {% if subcomanda.valuta.text == 'EURO' %} glyphicon-euro {% else %}  {% if subcomanda.valuta.text == 'USD' %} glyphicon-usd {% else %} glyphicon-registration-mark {% endif %} {% endif %}"></span></div>
            <div class="col-md-1" rel="tooltip" data-toggle="tooltip" data-placement="top" title="Data livrare">{{ subcomanda.data_livrare }}</div>
            <div class="col-md-1" rel="tooltip" data-toggle="tooltip" data-placement="top" title="Data primire">{{ subcomanda.data_primire }}</div>
            
            <div class="col-md-1" id="actions">
                <a class="btn btn-primary actionViewSubcomanda" rel="tooltip" data-placement="right" title="Details"  data-toggle="modal" data-target="#modal" href="{% url 'subcomanda_detail' pk=subcomanda.pk %}"><span class="glyphicon glyphicon-eye-open"></span></a>
            </div>
          </div>  
        </a>
      </h4>
    </div>
  </div>
   {% endfor %}  
</div>

{% include "orderhelper/_pagination.html" %}

<div class="modal fade" id="modal"></div>
    
<!-- Keep scripts in this order 1. search.js / 2. ajaxModal.js -->    
<script src="{% static 'js/search.js' %}"></script>
<script src="{% static 'js/ajaxModal.js' %}"></script>

</script>
{% endif %} 
{% endblock %}